body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-footer {
  width: 100%;
}

.l-header {
  position: relative;
  display: block;
  bottom: 4px;
  height: 217px;
  width: 100vw;
  background-color: #FFF7EF;
}

.c-button-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.c-button--menu {
  margin: 14px 16px 0 0;
  z-index: 10;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.c-main {
  display: flex;
}
.c-main__top-images {
  position: relative;
  z-index: 20;
  height: 285px;
  width: 100%;
  vertical-align: bottom;
}
.c-main__sub-title {
  position: absolute;
  padding: 120px 0 0 25px;
  margin: auto;
  z-index: 30;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

.c-front__menu-icon {
  content: "";
  height: 5px;
  width: 45px;
  background: #fff;
}
.c-front__txt {
  font-size: 16px;
  color: #3C2A10;
  font-weight: lighter;
  margin: 0 0 15px 0;
}
.c-front__take-out {
  background-image: url("/images/take-out.jpg");
  margin: 20px 20px 20px 20px;
  height: 643px;
  background-size: cover;
  display: block;
  position: relative;
}
.c-front__take-out--logo {
  font-size: 41px;
  color: #fff;
  font-weight: bold;
  margin: 11px 0 0 15px;
}
.c-front__take-out--box {
  position: absolute;
  bottom: 0;
}
.c-front__take-out--box1 {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 15px 15px 15px;
  height: auto;
}
.c-front__take-out--box2 {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 15px 15px 15px;
  height: auto;
}
.c-front__take-out--boxttl {
  color: #3C2A10;
  font-size: 22px;
  font-weight: bold;
  margin: 7px 0 0 10px;
}
.c-front__eat-in {
  background-image: url("/images/eat-in.jpg");
  margin: 0 20px 49px 20px;
  height: 643px;
  background-size: cover;
  display: block;
  position: relative;
}
.c-front__eat-in--logo {
  font-size: 41px;
  color: #fff;
  font-weight: bold;
  margin: 11px 0 0 15px;
}
.c-front__eat-in--box {
  position: absolute;
  bottom: 0;
}
.c-front__eat-in--box1 {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 15px 15px 15px;
  height: auto;
}
.c-front__eat-in--box2 {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 15px 15px 15px;
  height: auto;
}
.c-front__eat-in--boxttl {
  color: #3C2A10;
  font-size: 22px;
  font-weight: bold;
  margin: 7px 0 0 10px;
}

.c-main__map-bg {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: relative;
}
.c-main__map-img {
  background-image: url("/images/google-map.jpg");
  background-size: cover;
  width: 100vw;
  height: 100%;
  opacity: 0.6;
  position: absolute;
}
.c-main__map-cover {
  width: 100%;
  height: 415px;
  background-color: #000;
  opacity: 0.29;
  position: absolute;
}
.c-main__map-ttl {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 40px 0 0 42px;
}
.c-main__map--icon {
  content: "";
  height: 2px;
  width: 75px;
  background: #fff;
  margin: 10px 0 0 0;
}
.c-main__map-txt {
  font-size: 14px;
  font-weight: bold;
  line-height: 33px;
  margin: 10px 40px 0 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.p-header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.p-header__logo {
  position: relative;
  bottom: 4px;
  height: 53px;
  font-size: 40px;
  color: #707070;
}
.p-header__form {
  width: 100%;
  text-align: center;
  padding: 34px 0 40px 0;
}
.p-header__search {
  position: relative;
  z-index: 20;
  width: 230px;
  height: 46px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #000;
  background-color: #fff;
}
.p-header__submit {
  height: 46px;
  width: 78px;
  background-color: #F2EDE9;
  border: 1px solid #000;
  border-radius: 10px 10px 10px 10px;
}
.p-header__search-icon1 {
  margin: auto;
  bottom: 55px;
  right: 140px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  position: relative;
  z-index: 30;
  cursor: pointer;
}
.p-header__search-icon2 {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 56%;
  height: 56%;
  border-radius: 50%;
  margin: -0.28em 0 0 -0.28em;
  border: 2px solid #707070;
}
.p-header__search-icon2::after {
  position: absolute;
  display: block;
  content: "";
  top: 75%;
  left: 70%;
  width: 66%;
  height: 15%;
  background: #707070;
  margin: 0.2em 0 0 0.14em;
  transform: rotate(45deg);
}

.p-main__map {
  width: 100%;
  height: 691px;
}

.p-footer {
  width: 100%;
}
.p-footer__bg {
  background-image: url("/images/footer.jpg");
  height: 150px;
  width: 100%;
}
.p-footer__txt-box {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.p-footer__txt1 {
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}
.p-footer__txt2 {
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}
.p-footer__txt-icon {
  width: 2px;
  height: 20px;
  background-color: #fff;
  margin: 5px 10px 0 10px;
}
.p-footer__copyright {
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
/*# sourceMappingURL=style.css.map */