@use "../../foundation/breakpoint" as b;

//メニュー
.c-button-box{
        display: flex;
        justify-content: flex-end;
        width: 100%;
}


        .c-button--menu{
        margin: 14px 16px 0 0;
        z-index: 10;
        color: #707070;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
}  


//バツボタン
.c-btn__hamburger{
        z-index: 1000;
        width: 32px;
        height: 32px;
        position: relative;
        cursor:pointer;
        margin: 25px 17px 0 0;
}
.c-btn__hamburger-bar {
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background:#707070;
}

.c-btn__hamburger-bar:nth-child(1) {
        top: 50%;
        transform: rotate(-45deg);
}

.c-btn__hamburger-bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(45deg);
        
}

.c-btn__close{
        display: flex;
        justify-content:flex-end;
}

//アーカイブbtn(詳しく）

.c-btn__archive{
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        background:#fff;
        color: #707070; 
        padding: 10px 41px; 
        border-radius: 30px;
        margin: 40px 0 44px 0;
        position: relative;
        left: 25%;
}


//アーカイブページ送りボタン
.c-archive__pagination__btn{
        text-decoration: none;
        border: solid;
        color: #3C2B1C;
        border-color: #3C2B1C;
        padding: 0 6px 0 6px;
        @include b.sp{
                display: none;
        }
        @include b.pc{
                margin: 0 7.5px 0 7.5px;
        }
}

.c-archive__pagination__no-li-1{
        text-decoration: none;
        border: solid;
        color: #fff;
        background-color: #3C2B1C;
        border-color: #3C2B1C;
        padding: 0 6px 0 6px;
        @include b.sp{
                display: none;
        }
        @include b.pc{
                margin: 0 7.5px 0 7.5px;
        }
}