
.c-front{
    &__menu-icon{
        content: '';
        height: 5px;
        width: 45px;
        background:#fff;
    }

    &__txt{
        font-size: 16px;
        color: #3C2A10;
        font-weight: lighter;
        margin: 0 0 15px 0;
    }
    

    &__take-out{
        background-image: url("/images/take-out.jpg");
        margin: 20px 20px 20px 20px;
        height: 643px;
        background-size: cover;
        display:block;
        position: relative;


        &--logo{
            font-size: 41px;
            color: #fff;
            font-weight: bold;
            margin: 11px 0 0 15px;
        }

        &--box{
            position: absolute;
            bottom: 0;
        }

        
        &--box1{
            
            background-color: rgb(255,255,255,0.8);
            margin: 0 15px 15px 15px;
            height:auto; 
        }
        &--box2{
            background-color: rgb(255,255,255,0.8);
            margin: 0 15px 15px 15px;
            height: auto; 
        }
        
        &--boxttl{
            color: #3C2A10;
            font-size: 22px;
            font-weight: bold;
            margin: 7px 0 0 10px;
            
        }
    }




    &__eat-in{
        background-image: url("/images/eat-in.jpg");
        margin: 0 20px 49px 20px;
        height: 643px;
        background-size: cover;
        display:block;
        position: relative;


        &--logo{
            font-size: 41px;
            color: #fff;
            font-weight: bold;
            margin: 11px 0 0 15px;
        }

        &--box{
            position: absolute;
            bottom: 0;
        }

        &--box1{
            
            background-color: rgb(255,255,255,0.8);
            margin: 0 15px 15px 15px;
            height:auto; 
        }
        &--box2{
            background-color: rgb(255,255,255,0.8);
            margin: 0 15px 15px 15px;
            height: auto; 
        }
        
        &--boxttl{
            color: #3C2A10;
            font-size: 22px;
            font-weight: bold;
            margin: 7px 0 0 10px;       
        }
    }
}
