@use "../../foundation/breakpoint" as b;

.p-front{


        &__map{
    width: 100%;
    height: 691px;
    @include b.tab{
        height: auto;
        }
        @include b.pc{
            height: 650px;
        }
    }

    &__map-bg{
        background-color: #000;
        height: 100%;
        width: 100%;
        position: relative;
            @include b.tab{
                height: auto;
            }
            @include b.pc{
                height: 650px;
            }
    }

    &__map-img{
        background-image: url("/images/google-map.jpg");
        background-size:cover;
        width: 100%;
        height: 100%;
        opacity: calc(0.6);
        position: absolute;
            @include b.pc{
                height: 650px;
            }
    }


    &__map-cover{
        width: 100%;
        height: 415px;
        background-color: #000;
        opacity: calc(0.29);
        position: absolute;
            @include b.tab{
                height: 100%;  
            }
            @include b.pc{
                height: 650px;
                width: 60%;
            }
    }

    &__map-ttl{
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        margin: 40px 0 0 42px;
            @include b.tab{
            position: inherit;
            margin: 0 0 0 42px;
            padding-top: 40px;
            font-size: 36px;
        }
        &-icon{
            content: '';
            height: 2px;
            width: 65px;
            background:#fff;
            margin: 30px 0 30px 0;
        }
    }

    &__map--icon{
        content: '';
        height: 2px;
        width: 75px;
        background:#fff;
        margin: 10px 0 0 0;
    }

    &__map-txt{
        font-size: 14px;
        font-weight: bold;
        line-height: 33px;
        margin: 10px 40px 0 0;
        @include b.tab{
            padding-bottom: 40px;
        }
        @include b.pc{
            width: 50%;
            font-size: 16px;
        }
    }






}