@use "../../foundation/breakpoint" as b;

.p-menu{
    width: 100vw;
    z-index: 2000;
    left: 100%;
    transition: all 0.8s;
    position: fixed;
    overflow: auto;
    height: 100%;
        @include b.pc{
            position: inherit;
            left: 0;
            transition: none;
        }
    

    &__bg{   
    width: 375px;
    background-color: #F2EDE9;
    margin:0 0 0 auto;
    
    }

    &__burger{
        padding-top: 212px;
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 0 46px;
        color: #707070;
    }

    &__burger-menu{
        margin: 40px 0 0 66px;
    }

    &__side{
        font-size: 24px;
        font-weight: bold;
        color: #707070;
        margin: 34px 0 0 46px;
    }

    &__side-menu{
        margin: 40px 0 0 66px;
    }

    &__drink{
        font-size: 24px;
        font-weight: bold;
        color: #707070;
        margin: 38px 0 0 46px;
    }

    &__drink-menu{
        margin: 40px 0 0 66px;
        padding-bottom: 200px;
    }
}


.p-menu-open{
    left: 0;
}